.parent {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	background: #aaa;
}

.parent:after {
	content: ""; 	/* "." in old browser? */
	/*height: 0;*/ 	/* to remove content height */
	display: block; /*element defaults to "inline", and cannot receive the "clear" property*/
	clear: both;
	/*visibility: hidden;*/ /* to hide content */
	/*zoom: 1; */			/* for IE6-7 */
}

.child {
	width: 100px;
	height: 100px;
	margin: 10px;
	background: #abc;
	float: right;
}