.left {
	width: 70%;
	height: 300px;
	background-color: rgba(255,0,0,.7);
	float: left;
}

.right {
	width: 30%;
	height: 100px;
	background-color: rgba(0,255,0,.7);
	float: right;
}

.bottom {
	height: 200px;
	background-color: rgba(0,0,255,.7);
	clear: both;
}