.parent {
	height: 300px;
	width: 300px;
	width: 60%;
	background: #555;
	margin: 0 auto;				/* ! */
	position: relative;			/* ! */
}

.parent p {
	height: 120px;
	width: 120px;
	margin: auto;				/* ! */
	padding: 20px;
	top: 0;						/* ! */
	right: 0;					/* ! */
	bottom: 0;					/* ! */
	left: 0;					/* ! */
	background: #999;
	color: white;
	position: absolute;			/* ! */
}