.parent {
	height: 300px;
	width: 300px;
	background: #555;
	position: relative;	/* ! */
}

.parent div {
	height: 100px;
	margin-top: -50px;	/* 0.5 height */
	top: 50%;			/* ! */
	background: #999;
	color: white;
	position: absolute;	/* ! */
}