.parent {
	height: 300px;
	width: 300px;
	background: #555;
	position: relative;	/* ! */
}

.parent div {
	transform: translateY(-50%);	/* ! */
	top: 50%;			/* ! */
	background: #999;
	color: white;
	position: absolute;	/* ! */
}