body {
	margin: 0;
	padding: 0;
	min-width: 768px;
}

#page-wrapper {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

header,
footer {
	height: 40px;
	background: rgb(102, 102, 102);
}

#content-wrapper {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

main {
	flex: 1;
	order: 2;
	background: rgb(214, 214, 214);
}

#sidebar-left {
	width: 200px;
	order: 1;
	background: rgb(119, 187, 221);
}

#sidebar-right {
	width: 150px;
	order: 3;
	background: rgb(255, 102, 51);
}